.custom_checkbox {
    margin: 14px 11px 14px 14px;
}

.custom_checkbox:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -4px;
    margin-left: -4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;

}

.custom_checkbox:hover:before {
    border-color: #b3d7ff;
}

.custom_checkbox:checked:before {
    width: 16px;
    height: 16px;
    border: 1px solid #3F46D6;
    background-image: url("/../../assets/Icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3F46D6;
    background-size: 10px 8px;
}