body {
    margin: 0;
}

h1 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

.layout {
    height: 100vh;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.layout__list {
    display: flex;
    justify-content: center;
}

.layout__list_do {
    width: 363px;
    height: 490px;
    margin: 25px;
    border-radius: 16px;
    background: #fff;
}

.layout__list_done {
    width: 363px;
    height: 490px;
    margin: 25px;
    border-radius: 16px;
    background: #fff;
}

.layout__list_do_task {
    height: 405px;
    width: 345px;
    overflow: auto;
    overflow-x: hidden;
}
.layout__list_do_task::-webkit-scrollbar {
    width: 4px;
    background: rgba(165, 166, 246, 0.24);
}

.layout__list_done_task {
    height: 405px;
    width: 345px;
    overflow: auto;
    overflow-x: hidden;
}
.layout__list_done_task::-webkit-scrollbar {
    width: 4px;
    background: rgba(217, 217, 217, 0.24);
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-position: center 4px;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    background-position: center 2px;
}
::-webkit-scrollbar-thumb {
    background-color: #3F46D6;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9DCEFF;
}

::-webkit-scrollbar-button:single-button {
    background-color: #A5A6F63D;
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}