.input{
    width: 580px;
    height: 60px;
    border-radius: 8px;
    background:  #FFFFFF;
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border: none;
    padding-left: 15px;
    padding-right: 15px;
}
.input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}