.input{
    width: 743px;
    height: 60px;
    top: 559px;
    left: 42px;
    border-radius: 8px;
    background:  #FFFFFF;
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border: none;
}
.input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}