.delete_button {
    border: none;
    padding: 0;
    width: 20px;
    height: 22px;
    margin-top: 8px;
    margin-left: 8px;
    cursor: pointer;
}

.tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: #3F46D6;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-top: -25px;
    margin-left: -50px;

    position: absolute;
    z-index: 1;
}

.delete_button:hover .tooltipText {
    visibility: visible;
}