.task {
    display: flex;
    width: 315px;
    margin: 16px 16px;
    background-color: #A5A6F63D;
    border-radius: 8px;
}

.task__text {
    width: 230px;
    margin-top: 8px;
    margin-bottom: 8px;
    word-break: break-all;
}

